
<div *ngIf="contactInfo">
    <h2><span jhiTranslate="jPosApp.contactInfo.detail.title">Contact Info</span> {{contactInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jPosApp.contactInfo.mobileNumber">Mobile Number</span></dt>
        <dd>
            <span>{{contactInfo.mobileNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jPosApp.contactInfo.otherPhone">Other Phone</span></dt>
        <dd>
            <span>{{contactInfo.otherPhone}}</span>
        </dd>
        <dt><span jhiTranslate="jPosApp.contactInfo.email">Email</span></dt>
        <dd>
            <span>{{contactInfo.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-info/'+ contactInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
